/* ### WooCommerce Breadcrumb */

.woocommerce .woocommerce-breadcrumb {
    font-size: 1.3rem;
    margin-bottom: 3rem;
    color: $gray;
    a {
        color: $gray;
        text-decoration: none;
        &:hover {
            color: $gray;
            text-decoration: underline;
        }
    }
}
