/* ### WooCommerce Product */

.woocommerce {
    div.product {
        position: relative;
        .star-rating {
            float: left;
        }
        .summary {
            p {
                font-size: 1.3rem;
                font-family: $font-body;
                margin-bottom: 1rem;
            }
            p.out-of-stock {
                color: tomato;
                font-weight: $bolder;
            }
        }
        p.price,
        span.price {
            font-family: $font-body;
            font-size: 1.6rem;
            font-weight: $bold;
            margin-bottom: 0;
            color: $dark;
            line-height: 1.5;
            float: left;
            width: 100%;
        }
        span.onsale {
            
            height: 3rem;
            width: 10rem;
        }
        .product_meta {
            font-size: 1.5rem;
            color: $gray;
        }
        form.cart {
            clear: both;
            padding: 1em 0 0;
            .variations {
                table-layout: fixed;
            }
        }
    }
    .woocommerce-result-count {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        float: none;
        display: block;
    }
    .woocommerce-variation-price {
        margin-bottom: 20px;
    }
    .woocommerce-product-details__short-description {
        @include clearfix;
    }
}


/* ### WooCommerce Product Tabs */

.woocommerce div.product .woocommerce-tabs {

    h2 {
        display: none;
    }

    ul.tabs {
        padding-left: .5rem;
        &::before {
            border: 1px solid $border;
        }

        li {
            border: $site-border;
            background-color: $light;
            border-radius: 0;
            padding: 0;
            &::after,
            &::before {
                display: none;
            }
            a {
                font-family: $font-heading;
                font-size: 1.8rem;
                letter-spacing: 0.05em;
                color: $border;
                padding: 0.5em 1em;
                outline: none;
                &:hover {
                    color: $accent;
                }
            }
            &.active a {
                color: $gray;
            }
        }
    }

}

.single-product {
    .pagination-previous a {
        left: 0;
    }.pagination-next a {
        right: 0;
    }
    .pagination-previous a,
    .pagination-next a {
        display: none;
        @include breakpoint(md) {
            display: block;
        }
        text-decoration: none;
        position: fixed;
        top: 50vh;
        transform: translateY(-50%);
        padding: 5.2rem 1.8rem;
        border-radius: 4px;
        width: 3rem;
        height: 3rem;
        background: $dark;
        color: $white;
        .dashicons-arrow-left-alt2:before,
        .dashicons-arrow-right-alt2:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
        }
    }
}
