.post-type-archive-artist, .tax-artist_category {

    &.archive {
        .page-header {
            padding: 6rem 5% 3rem;
            p {
                max-width: 48em;
                font-size: 1.4rem;
            }
        }
        &.sidebar-content {
            .entry {
                width: $one-third;
            }
        }
    }

    .content {
        max-width: 31.2rem;
        margin: 0 auto;
        @include breakpoint(xs) {
            max-width: 80rem;
        }
        @include breakpoint(md) {
            max-width: 136rem;
            padding: 0 $margin-left-blog;
        }
    }

    .entry {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        img {
            clip-path: circle(40% at 50% 50%);
        }

        .entry-image-link {
            margin-bottom: 1rem;
            img {
                @include breakpoint(xl) {
                    padding-top: 1.4rem;
                }
            }
        }

        h2 {
            font-size: 1.2rem;
            font-family: $font-body;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 2rem;
        }
    }

    footer.entry-footer {
        margin-top: auto;
    }

    a.about-artworks {
        text-transform: uppercase;
        font-size: 1.6rem;
        font-weight: $bolder;
    }
}

.artist-archive-regione {
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    color: $black;
}

/* Artists single page styles */


.archive.single-artist {

    .content-sidebar-wrap {
        padding-top: 0;
    }

    .artists-wrapper {

        width: 100%;
        background: $lighter;

        @include breakpoint(sm) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__artist {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include breakpoint(sm) {
                width: 50%;
            }

            &--name {
                font-size: 2.6rem;
            }

            &--image {
                clip-path: circle(36% at 50% 50%);
                margin-bottom: 0;
                @include breakpoint(sm) {
                    max-width: 200px;
                }
                @include breakpoint(lg) {
                    max-width: 100%;
                }
            }

            &--region {
                font-style: italic;
                @include breakpoint(sm) {
                    margin-bottom: 0;
                }
            }
        }

        &__featured-artwork {

            &--container {
                width: 100%;
                @include breakpoint(sm) {
                    width: 50%;
                }
            }

            &--image {
                margin-bottom: 0;
            }
        }

        .entry-content {
            color: $dark;
        }
    }

    .overview {
        &__about {
            font-size: 1.8rem;
            font-style: italic;
            color: $dark;
            margin-bottom: 2rem;
        }
        &__biography {
            width: 100%;
            @include breakpoint(md) {
                display: flex;
            }
            &--title {
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: $bold;
                font-family: $font-body;
                color: $dark;
                padding-top: 1rem;
                padding-right: 15rem;
                margin-bottom: 1.8rem;
            }
            &--content {
                font-size: 1.6rem;
                margin-bottom: 3rem;
            }
        }
    }

    article.artist.entry {
        width: 100%;
        margin-bottom: 0;

        background: none;
        box-shadow: none;
        line-height: 2;

    }

    .related-artworks {
      
        &__title {
            font-size: 2.2rem;
            font-style: italic;
            color: $dark;
            width: 100%;
            margin-top: 3rem;
            padding: 3rem 0 6rem;
            text-align: left;
            border-top: 1px solid $light;
        }
    }

    .site-inner {
        padding-bottom: 6rem;
    }

    .artist-menu {
        display: none;
        margin: 0 0 3rem;
       
        @include breakpoint(md) {
            display: flex;
        }

        &__list-item {
            position: relative;
            list-style-type: none;
            cursor: pointer;
            padding: 0 2.2rem;
            font-size: 2.2rem;

            &:first-child {
                padding-left: 0;
            }

            &::after {
                content: "";
                height: 2rem;
                background: $dark;
                width: 1px;
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
