.nav-secondary {
    @include breakpoint(sm) {
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    .wrap {
        width: 100%;
        border-bottom: 1px solid $light;
        @include breakpoint(md){
            padding: 0 2vw;
        }
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .menu {
        > li {
            padding: 0;
            @include breakpoint(md){
                &:nth-child(1),
                &:nth-child(2) {
                    border-right: 1px solid $light;
                }
                &.to-the-left {
                    margin-left: auto;
                }
                &:last-child::before {
                    content: "";
                    height: 1.5rem;
                    background: $dark;
                    width: 1px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

            }
        }
    }
    .menu-item {
        a {
            font-family: $font-body;
            font-size: 1.2rem;
            padding: 1.5rem 2rem;
        }
    }
    .menu-item-has-children {
        >a {
            >span {
                @include breakpoint(md) {
                    &:after {
                        display: none;
                    }
                }
            }
            @include menu-has-children-arrow();
        }
    }
    .menu-item-has-children.wpml-ls-current-language {
        >a {
            width: 7rem;
            &::after {
                @include breakpoint(md) {
                    right: 1.3rem;
                }
            }
        }
    }
    .sub-menu {
        @include breakpoint(md) {
            width: 8rem;
        }
    }

}
