.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    // @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    //     -webkit-backdrop-filter: blur(10px);
    //     backdrop-filter: blur(10px);
    //     background-color: rgba($black, .3);
    // }

    &__content {
        @include absCenter;

        width: 90vw;
        max-width: 56em;
        background-color: $white;
        box-shadow: 0 2rem 4rem rgba($black, .2);
        border-radius: $site-radius;
        display: table;
        overflow: hidden;
        opacity: 0;
        // transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;

        &__form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .wpcf7 {
            width: 100%;
            font-size: 1.4rem;
            height: 55rem;
            overflow-y: auto;
            form {
                width: 100%;
                padding: 5px;
            }
        }

        &--newsletter {
            display: flex;
        }

    }

    &__artist-name {
        font-size: 1.4rem;
    }
    &__artwork-name {
        font-size: 1.6rem;
        font-style: italic;
    }

    &__left {
        // width: 33.333333%;
        // display: table-cell;
        
        &--newsletter {
            flex: 1;
            background: url('assets/images/newsletter_img.jpg');
            background-size: cover;
            background-repeat: no-repeat;

            @include breakpoint(md) {
                width: 360px;
            } 
            @include breakpoint(lg) {
                width: 500px;
            }
        }
    }

    &__right {
        width: 100%;
        display: table;
        justify-content: center;
        vertical-align: middle;
        padding: 2rem 1rem;
        @include breakpoint(sm) {
            padding: 3rem 5rem;
        }

        &--newsletter {
            @include breakpoint(md) {
                width: calc(100% - 360px);
            }
            @include breakpoint(lg) {
                width: calc(100% - 500px);
            }
            input[type="submit"] {
                font-size: 1rem;
                width: 100%;
                padding: 2rem;
            }
        }

    }

    &__title {
        font-size: 4.2rem;
    }

    &__subtitle {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__input {
        &--newsletter {
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    // &__img {
    //     display: block;
    //     width: 100%;
    // }

    // &__text {
    //     font-size: 1.4rem;
    //     margin-bottom: 4rem;

    //     -moz-column-count: 2;
    //     -moz-column-gap: 4rem; //1em = 14px;
    //     -moz-column-rule: 1px solid $medium;

    //     column-count: 2;
    //     column-gap: 4rem; //1em = 14px;
    //     column-rule: 1px solid $medium;

    //     -moz-hyphens: auto;
    //     -ms-hyphens: auto;
    //     -webkit-hyphens: auto;
    //     hyphens: auto;
    // }

    //Open states
    // &:target {
    //     opacity: 1;
    //     visibility: visible;
    // }

    // &:target &__content {
    //     opacity: 1;
    //     transform: translate(-50%, -50%) scale(1);
    // }

    &__close {
        &:link,
        &:visited {
            color: $accent;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            font-weight: $bold;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $dark;
        }
        &--newsletter {
            @extend .popup__close;
        }
    }
}

.showpopup, .showpopup--newsletter {
    visibility: visible;
    opacity: 1;
}

#ccwrap select {
    padding: .5em 1em;
}

#mc_embed_signup_scroll {
    padding: 4rem 1rem;
    @include breakpoint(sm) {
        padding: 4rem;
    }
    text-align: center;
}

.footer-widget-area input.show-newsletter {
    @extend button;
}

.footer-widget-area input.show-newsletter {
    width: 100%;
    background: $white;
    text-align: center;
    color: $black;
    padding: 1.8rem 2.2rem;

    &:hover {
        background: $gray;
        color: $white;
    }
}