.wcml-dropdown {
    width: 6.5em;
    max-width: 100%;
    position: relative;

    li {
        list-style-type: none;
        padding: inherit;
        margin: inherit;
        border: none;
        background-color: $white;
        width: 100%;
    }

    a.wcml-cs-item-toggle:after {
        content: '';
        vertical-align: middle;
        display: inline-block;
        border: .35em solid transparent;
        border-top: .5em solid;
        position: absolute;
        right: 1.5rem;
        top: calc(50% - .175em);
    }

    .wcml-cs-submenu {
        box-shadow: $box-shadow;

        li {
            border: none;
            border-width: 0;
            width: 100%;
        }
    }
}
