.wcml-dropdown {
    width: 100%;
    @include breakpoint(md) {
        width: 9rem;
    }
    max-width: 100%;
    position: relative;

    li {
        list-style-type: none;
        padding: inherit;
        margin: inherit;
        border: none;
        background-color: $white;
        width: 100%;
    }

    a.wcml-cs-item-toggle {
        width: 100%;
        @include breakpoint(md) {
            @include menu-has-children-arrow();
            &::after {
                right: 2rem;
            }
        }
    }
    a.wcml-cs-item-toggle:after {
        border: none;
        border-top: 0;
    }

    .wcml-cs-submenu {
        box-shadow: $box-shadow;

        li {
            border: none;
            border-width: 0;
            width: 100%;
        }
    }
}
