/* ## Site Header
--------------------------------------------- */

.site-header {
    position: absolute;
    width: 100%;
    z-index: 9;
    background-color: $white;
    border-bottom: 1px solid $light;
    @include transition;
    .has-fixed-header & {
        position: fixed;
        top: 0;
        left: 0;
        &.shrink {
            background-color: $white;
            // box-shadow: 0 0 2rem rgba($dark,0.2);
        }
    }
    &.shrink > .wrap {
        @include breakpoint(md) {
            padding: 2.5rem 0;
        }
    }
    .page-template-page-builder & {
        position: relative;
        background-color: $dark;
        &.fixed {
            position: fixed;
        }
    }
    >.wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @include transition;
        @include breakpoint(md) {
            padding: 3rem 0;
            flex-wrap: nowrap;
            position: relative;
        }
    }
}

.admin-bar.has-fixed-header .site-header {
    top: 46px;
    @include breakpoint(sm) {
        top: 32px;
    }
}


/* ## Title Area
--------------------------------------------- */

.title-area {
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: block;
    flex: 1;
    padding: 2rem 0;
    max-width: 15rem;
    @include breakpoint(md) {
        margin: 0 auto 0 0;
    }
    .wp-custom-logo & {
        padding: 2rem 0;
        @include breakpoint(md) {
            padding: 1rem 0;
        }
        @include breakpoint(lg) {
            padding: 0;
        }
    }
}

.site-title {
    font-size: 1.7rem;
    font-family: $font-heading;
    font-weight: $bold;
    line-height: 1;
    margin-bottom: 0;
    white-space: nowrap;
    a {
        color: $white;
        text-decoration: none;
    }
}

.site-description {
    font-size: 1.2rem;
    margin-bottom: 0;
    line-height: 1;
    color: $white;
    @include breakpoint(md) {
        text-align: left;
        line-height: 1.382;
    }
}

.custom-logo-link {
    display: block;
}

/* ## Header Right Widget Area
--------------------------------------------- */

.header-widget-area {
    @include breakpoint(md) {
        order: 3;
        margin-left: 1em;
        margin-right: 0;
    }
    @media (max-width: map-get($breakpoints,md)) {
        ul,
        ul.alignleft,
        ul.alignright {
            margin: 2em auto;
            float: none;
            display: flex;
            justify-content: center;
            li {
                margin: 0 0.5em;
            }
        }
    }
    .widget-wrap {
        @include clearfix;
    }
    .simple-social-icons ul li {
        a,
        a:hover,
        a:focus {
            background-color: transparent !important;
        }
    }
}

/* ## Custom Header
--------------------------------------------- */

.wp-custom-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    pointer-events: none;
    .woocommerce & img,
    img,
    video,
    iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    iframe {
        top: -20%;
        left: -20%;
        right: -20%;
        bottom: -20%;
        margin: auto;
        height: 140%;
        width: 140%;
        max-width: 140%;
        max-height: none;
        min-width: 100%;
        min-height: 56.25vw; // 16:9 aspect ratio.
        position: absolute;
    }
    img {
        display: none;
    }
}

.wp-custom-header-video-button {
    display: none;
}


/* ## Page Header
--------------------------------------------- */

.page-header {
    color: $white;
    padding: 10vh 0 10vh;
    .home & {
        padding: 0;
    }
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    @include overlay;
    @include breakpoint(sm) {
        padding: 15vh 0 15vh;
        .home & {
            padding: 0;
        }
    }
    @include breakpoint(lg) {
        padding: 20vh 0 20vh;
        .home & {
            padding: 0;
        }
    }
    .woocommerce.archive & {
        padding-left: 5%;
    }
    .single-product & {
        padding: 0;
    }
    .wrap {
        position: relative;
        z-index: 1;
    }
    h1 {
        max-width: map-get($breakpoints,sm);
        margin: 0 auto;
    }
    p {
        max-width: map-get($breakpoints,sm);
        margin: 0 auto;
    }
}

/* ## Product Search
--------------------------------------------- */

.menu-header-search {
    display: flex;
    align-items: center;
    justify-content: center;
 
    @include breakpoint(md) {
        margin-left: auto;
        width: 18rem;
    }

    &.hidden {
        display: none;
    }
    
}

.product-search, .search-form {

    position: absolute;
    right: 0;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    transition: all .5s;
    z-index: 999;

    input[type="search"] {
        color: transparent;
        @include breakpoint(md) {
            color: $medium;
        }
        background-color: transparent;
        border: none;
        border-radius: none;
        padding: 0;
        width: 8rem;
        cursor: pointer;
        @include breakpoint(md) {
            width: 18rem;
            cursor: auto;
        }
        padding-left: 1rem;
        transition: all .5s;
        font-size: 1.8rem;

        &::placeholder {
            color: transparent;
            font-size: 1.4rem;
            @include breakpoint(md) {
                color: $medium;
            }
        }

        @include breakpoint(md) {
            font-size: 1.4rem;
        }

        &:focus {
            color: $black;
            padding: 0;
            padding-right: 0;
            width: 100vw;
           
            @include breakpoint(md) {
                width: auto;
                padding-right: 50vw;
            }
            padding-left: 1rem;
            border-radius: 100px;
            transition: all .5s;
            background-color: $light;
            &::placeholder {
                text-indent: 0;
                color: $gray;
            }
        }

    }

    &__input:focus + &__button {
        margin-left: 0;
    }

    &__button {
        padding: 0;
        background-color: transparent;
        color: $black;
        margin-left: -1rem;
        margin-top: .1rem;

        &:hover {
            box-shadow: none;
        }
    }

    &__icon {
        font-size: 1.8rem;
    }

}
