/* ## Widgets
--------------------------------------------- */

.sidebar-primary {
    order: 3;
    @include breakpoint(md) {
        order: 2;
    }
    .woocommerce.archive & {
        border-top: 1px solid $light;
        padding-top: 3rem;

        .widget_product_categories .widget-title {
            display: none;
        }

        .widget-title {
            font-family: $font-body;
            font-size: 1.2rem;
            text-transform: uppercase;
        }

        .widget_price_filter .ui-slider .ui-slider-range {
            height: 3px;
        }

        .widget_price_filter .price_slider_wrapper .ui-widget-content {
            background-color: transparent;
        }

        .widget_price_filter .ui-slider .ui-slider-handle,
         .woocommerce.widget_price_filter .ui-slider .ui-slider-handle {
            top: -.4em;
            background-color: $white;
            border: 2px solid $accent;
        }

        .widget_price_filter .ui-slider .ui-slider-range {
            background-color: $accent;
        }

        li {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
        }
    }
}

.widget {
    margin-bottom: 10vw;
    word-wrap: break-word;
    @include breakpoint(md) {
        margin-bottom: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    .sidebar & {
        margin-bottom: 5vw;
		font-size: 1.6rem;
        @include breakpoint(sm) {
            margin-bottom: 4rem;
        }
        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    ul>li:last-of-type:not(.gfield) {
        margin-bottom: 0;
    }
    ul>li {
        margin-bottom: 0.5em;
        padding-bottom: 2.5em;
    }
    ul>li:last-of-type {
        padding-bottom: 0;
    }
    ol>li {
        list-style-position: inside;
        list-style-type: decimal;
        padding-left: 1em;
        text-indent: -1em;
    }
    li li {
        border: 0;
        margin: 0 0 0 1em;
        padding: 0;
    }
}

.widgettitle,
.widget-title {
    font-family: $font-heading;
    font-size: 2.4rem;
    .sidebar & {
        font-size: 1.6rem;
        margin-bottom: 1em;
    }
}

.widget_calendar {
    table {
        width: 100%;
    }
    td,
    th {
        text-align: center;
    }
}
