// Brand colors.
$twitter:     $dark !default;
$facebook:    $dark !default;
$googlePlus:  $dark !default;
$pinterest:   $dark !default;
$linkedin:    $dark !default;
$stumbleupon: $dark !default;
$youtube:     $dark !default;

//brand icons
$twitter_i:     '\f202';
$facebook_i:    '\f204';
$googlePlus_i:  '\f218';
$pinterest_i:   '\f209';
$linkedin_i:    '\f207';
$stumbleupon_i: '\f223';
