.fixed-summary, .fixed-summary.scroll {
    position: relative;
    float: left;
    padding-top: 3rem;
    top: 0;
    text-align: center;
    @include breakpoint(md){
        text-align: left;
    }
}

.fixed-summary {

    .woocommerce-product-details__short-description {
        line-height: 1.2;
    }

    display: flex;
    flex-direction: column;

    .entry-title {
        font-size: 1.8rem;
        font-style: italic;
    }

    @include breakpoint(md) {
        position: static;
        padding-top: 0;
        max-width: 63rem;
        z-index: 6;
        margin-top: 0;
        &.scroll {
            position: fixed;
            top: 18rem;
        }
    }
    form.cart button {
        float: none;
        padding: 2rem 10rem;
        min-width: 70%;
        @include breakpoint(md){
            float: left;
            width: 100%;
        }
        &.alt.disabled {
            background-color: $accent;
            opacity: .8;
        }
    }
    &__artist-name {
        font-size: 1rem;
        font-family: $font-body;
        text-transform: uppercase;
        margin-top: 2rem;
        margin-bottom: 0;
        font-weight: $bold;
        line-height: 1;
        .fixed-summary & {
            font-size: 1.6rem;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    &__services {
        &--title {
            font-size: 1.2rem;
            font-family: $font-body;
            text-transform: uppercase;
            font-weight: $normal;
            margin-bottom: 1rem;
        }
        &--list {
            display: flex;
            justify-content: center;
            li {
                text-align: left;
            }
            @include breakpoint(md) {
                justify-content: flex-start;
            }
        }
    }

    &__shipping-info {
        display: flex;
        justify-content: center;
        @include breakpoint(md) {
            display: block;
        }
    }

    li {
        font-size: 1.3rem;
        font-family: $font-body;
        list-style-type: disc;
        margin-left: 1.6rem;
        line-height: 1.2;
        
        a {
            text-decoration: none;
        }
    }

}

@media screen and (max-width: 56em) {
    .fixed-summary.scroll {
        margin-top: 0 !important;
    }
}

.single-product-additional-info {

    .product & {
        margin: 2rem 0;
        font-size: 1.6rem;
        @include breakpoint(md) {
            width: 57%;
            margin-right: 3%;
        }
        @include breakpoint(lg) {
            width: 62%
        }
        @include breakpoint(xl) {
            width: 67%;
        }
        // li {
        //     list-style-type: disc;
        //     margin-left: 3.2rem;
        //     margin-bottom: 1rem;
        //     font-style: italic;
        // }
        // & .option-content, .option-content-first {
        //     font-size: 1.6rem;
        //     padding-left: 3.2rem;
        //     padding-right: 3.2rem;
        //     padding-bottom: 3.2rem;
        // }
        // & .option-content h2:first-child, .option-content-first h2:first-child {
        //     display: none;
        // }
        
        // border-bottom: 1px solid $border;
    }
	width: 100%;
	float: left;
    position: relative;
	border-bottom: 1px solid $light;
	text-align: left;

    & .option-heading {
        /* border-top: 1px solid $border; */
		display: block;
        @include breakpoint(md) {
            display: none;
        }
		float: left;
		width: 100%;
        text-transform: uppercase;
		cursor: pointer;
        &--title {
            margin: 0;
            line-height: 1;
            font-size: 2rem;
            padding: 3.2rem 0 3.2rem 3.2rem;
            margin-bottom: 0;
            position: relative;
            left: 0;
            display: inline-block;
            color: $black;
        }
	}

    & .option-content, .option-content-first {
        @include breakpoint(md){
            display: block !important;
            .product & {
                border-top: 1px solid $light;
                padding-top: 3rem;
            }
        }
        &__artist-link {
            font-size: 1.2rem;
            font-weight: $bold;
            font-family: $font-body;
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 3rem;
        }
        &__space {
            display: block;
            margin-bottom: 4rem;
        }
    }

    & .arrow-down, .arrow-up, .arrow-up-nojquery {
        float: right;
    	margin-right: 3.2rem;
    	line-height: 1;
    	font-size: 3.2rem;
    	padding-top: 2.7rem;
    	color: $gray;

        .dashicons-arrow-right-alt2::before {
            font-size: 3rem;
        }
    }

    & li {
        font-style: italic;
    }

    h2.about-the-work {
        font-family: $font-body;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
    }
    h2.option-content__title {
        font-size: 1.8rem;
        font-style: italic;
        margin-bottom: 2rem;
        margin-top: 1rem;

        &--bigger {
            font-size: 2.2rem;
            margin-top: 1.5rem;
            margin-bottom: 5rem;
        }
    }

    &__artwork-content {
        padding-bottom: 1.5rem;
    }
}

%title--bigger {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    font-style: italic;
}

.single-product-section {
    display:block;
    position:relative;
    float:left;
    width:100%;
    margin-bottom: 3rem;

    &__related-artworks {
        border-bottom: 1px solid $light;
    }

    .option-content__title--bigger {
        @extend %title--bigger
    }  

}
